$isabelline: #F0EDEE;
$peynes_gray: #4f6d7a;
$smoky_black: #0A090C;
$rich_black: #07393C;
$wheat: #e8dab2;
$verm: #dd6e42;

$bg-primary: $isabelline;
$bg-primary-light25: scale_color($isabelline, $lightness: 25%);
$bg-primary-light75: scale_color($isabelline, $lightness: 75%);
$bg-primary-dark5: scale_color($isabelline, $lightness: -5%);
$bg-secondary: $wheat;
$color-primary: $peynes_gray;
$color-secondary: $verm;
$black: $rich_black;

/*  */
body,
html {
    background-color: $bg-primary;
    color: $color-primary;
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Nanum Gothic', sans-serif;
}
body,
html,
.container-raw,
main {
    height: 100%;
}
h1,
h2,
h3,
h4 {
    color: $verm;
}

.dark-bg {
    background-color: $bg-primary-dark5;
}
.light-bg {
    background-color: $bg-primary-light25;
}
h1.bg-secondary,
.bg-secondary h1,
h2.bg-secondary,
.bg-secondary h2,
h3.bg-secondary,
.bg-secondary h3,
h4.bg-secondary,
.bg-secondary h4,
.bg-secondary {
    background-color: $bg-secondary;
    color: $color-secondary;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.text-small {
    font-size: 0.85em;
}
.text-smaller {
    font-size: 0.7em;
}
.text-tiny {
    font-size: 0.5em;
}
.text-big {
    font-size: 1.2em;
}

.text-color-secondary {
    color: $color-secondary;
}

.full-width,
.fill-in-width * {
    width: 100%;
}
.underlined {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: $color-primary;
}
.pipe {
    border-right: 1px solid $black;
    border-left: 1px solid $black;
}
.build-a-wall {
    border-bottom: 1px solid $black;
}

.btn, 
a.btn, 
input[type="submit"].btn,
button.btn {
    color: $bg-primary-light75;
    background: $color-secondary;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

a {
    text-decoration: underline;
    color: $color-primary;
}
header a {
    color: inherit;
}

a:hover {
    color: $color-primary;
    font-weight: bold;
}

a.app-link {
    text-decoration: none;
    color: $color-primary;
}
a.app-link:hover {
    color: $color-primary;
    background: $bg-primary-light75;
    font-weight: inherit;
}

.space-after-all + .space-after-all {
    margin-top: 8px;
}

.space-after-all {
    form + form {
        margin-top: 8px;
    }
}

.tile {
    padding: 10px 0 10px 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.inline-text-and-select input {
    width: 60%;
}

.inline-text-and-select select {
    width: 35%;
}

.freezer-item a {
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.display-at-sm {
    display: none;
}

@media (min-width: 576px) {
    .display-at-sm {
        display: block;
    }
}

.flex-direction-column {
    flex-direction: column;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

form .col-12 + .col-12 {
    margin-top: 8px;
}

a + a {
    margin-left: 8px;
}