{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for day in comingDays %}
        <a href="{{ path('menu_day', {date: day.dateFormatted}) }}">{{ day.dayOfWeek }}{{ (day.isMealPlanned) ? ' *' : ''}}</a>
    {% endfor %}
{% endblock %}
